{% extends 'index.html' %}
{% block body %}
<!-- nav bar -->

<!-- home content -->
<div class="container mt-5 d-flex flex-column align-items-center">
  <h1 class="mt-5 fs-1 text-white">Welcome to Exam Center</h1>
  <p class="mt-5 text-white">Here is your way to progress</p>
  <div class="container forms d-flex justify-content-around w-50 mt-5" >
    <form method="post" action="/student">
      <input 
      type="submit"
      name="button" 
      class="btn btn-outline-secondary mt-5" 
      value="Student">
    </form>
    <form method="post" action="/doctor" >
      <input 
      type="submit" 
      name="button" 
      class="btn btn-outline-secondary mt-5" 
      value="Doctor">
    </form>
  </div>
</div>
{% endblock %}